__pycache__/
*.pyc
venv/
.env
data/
uploads/
*.db
.claude/
node_modules/
server/
src/
package.json
package-lock.json
vite.config.js
/index.html

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
